Repository ryo-morimoto/claude-history: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format-check

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run typecheck:fast
      
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm run lint
      
    format-check:
      glob: "*.{ts,tsx,js,jsx,json,md,yml,yaml}"
      run: pnpm run format:check

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm run test
      
    typecheck-full:
      run: pnpm run typecheck
      
    build:
      run: pnpm run build

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

feat: add minimal CLI entry point
  src/cli.ts
Due: typecheck, lint, format-check

chore: add @vitest/coverage-v8 dev dependency
  package.json
  pnpm-lock.yaml
Due: format-check

refactor: simplify error handling with Zod validation
  src/cli.ts
  src/error.ts
  src/logger.test.ts
  src/logger.ts
  src/types.test.ts
  src/types.ts
  src/utils/result-helpers.test.ts
  src/utils/result-helpers.ts
Due: typecheck, lint, format-check

chore: add .ignore file for ignore configuration
  .ignore
Due: none

ci: update Node.js test matrix to versions 20, 22, 24
  .github/workflows/ci.yml
Due: format-check

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: format-check
